@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I hope this helps learn about the magic and wonders of where Razor meets something like bootstrap</p>
    <p>Apparently, this project will include a couple of pictures of the original ghetto solar charger setup I had</p>
    <p>KEYWORD: HAD</p>
    <p>Eventually, I noticed that sometime in the middle of the day (when the sun was the hottest, I stuck a camera on it, and blammo noticed I was getting AN AWESOME spark)</p>
    <p>I do apologize if there is any formatting issues, I am just using VS for document formating</p>
</div>
