@model PortfolioModel



<div class="container pt-4 mt-4 pb-1 mb-4 text-center">
    <div class="row">
        <div class="col-12 align-content-center">
            <partial name="_allAllSimpleSlideShow" model="Model.ExampleOneCarousel" />
        </div>
        <div class="col-12 align-content-center">
            <partial name="_allAllSimpleSlideShow" model="Model.ExampleTwoCarousel" />
        </div>
        <div class="col-12 align-content-center">
            <partial name="_allAllSimpleSlideShow" model="Model.ExampleThreeCarousel" />
        </div>
        <div class="col-12 align-content-center">
            <partial name="_allAllSimpleSlideShow" model="Model.ExampleFourCarousel" />
        </div>
    </div>
</div>