@model SlideShowModel
<div class="container-fluid">
    <a asp-action="SimpleSlideShowTwoColumn">Two Column Example</a>
</div>


<div class="container pt-4 mt-4 pb-1 mb-4 text-center">
    <div class="row">
        <div class="col-6 align-content-center">
            <partial name="_MultiSlideShow" model="Model" />
        </div>
    </div>
</div>